{% extends 'base.html' %}


{% block css_link %}

<link rel="stylesheet" href="static\about.css">

{% endblock %}



{% block title %}

<title>About Me</title>

{% endblock %}



{% block content %}

<section id="myphoto">
    <img src="static\shivam1.jpg" alt="myphoto">
</section>

<section id="Introduction">
    <h3>A little bit about me</h3>
    <p>Hi! My name is Shivam. I am an aspiring data scientist. Ok, I might be aspiring to become a data scientist now
        but that was not the original plan. I am a mechanical engineering graduate by the way. The story of me wanting
        to become a data scientist started with the learning of python programming language. I started learning python
        just because my friend told me that it is interesting. Being a mechanical engineering student, I had no exposure
        to programming before this. Around the same time while watching some of YouTube videos, I came to know that
        there is something called data science or machine learning to be exact. I started to explore this field after
        this. The thing is I very much enjoyed graphs and visualization from the childhood. Also growing up mathematics
        was my favorite subject. And while exploring, I was again finding those interesting things in the field of data
        science. Of course, mechanical engineering topic was interesting but this was more interesting. So, I started
        learning simple libraries like NumPy, Pandas and matplotlib. My interest in the field was increasing day by day
        that led to learning other thing like SQL, flask, web scrapping, tableau, statistics, machine learning and then
        finally decided to build my career in this the same field.
    </p>
    <p>Besides the programming related things, I also enjoy my hobbies. I like to play chess, badminton with my friends
        and cousins. Also, roaming the city on my bicycle with my friends is one of the things I frequently enjoy. I
        also play racing games a lot on my personal computer. Sometimes I read the historical novels too. I have not
        travelled a lot yet but going forward planning to go to lot of treks and camps. </p>
</section>

<section id="skills">
    <h3>Skills</h3>
    <div class="skill-list">
        <h4>SQL</h4>
        <div class="progress">
            <div class="progress-fill" id="SQL"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Python Programming Language</h4>
        <div class="progress">
            <div class="progress-fill" id="python-lang"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Web Scrapping using Python</h4>
        <div class="progress">
            <div class="progress-fill" id="web-scrapping"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Data Analysis using NumPy and Pandas</h4>
        <div class="progress">
            <div class="progress-fill" id="data-analysis"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Data Visualization using Matplotlib and Seaborn</h4>
        <div class="progress">
            <div class="progress-fill" id="data-viz"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Flask Python Framework</h4>
        <div class="progress">
            <div class="progress-fill" id="flask"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Git</h4>
        <div class="progress">
            <div class="progress-fill" id="git"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Tableau</h4>
        <div class="progress">
            <div class="progress-fill" id="Tableau"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>HTML</h4>
        <div class="progress">
            <div class="progress-fill" id="html"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Cascading Style Sheets (CSS)</h4>
        <div class="progress">
            <div class="progress-fill" id="css"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>statistics</h4>
        <div class="progress">
            <div class="progress-fill" id="stats"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Machine Learning</h4>
        <div class="progress">
            <div class="progress-fill" id="ml"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Data Version Control (DVC)</h4>
        <div class="progress">
            <div class="progress-fill" id="dvc"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Time Series Analysis</h4>
        <div class="progress">
            <div class="progress-fill" id="time-series"></div>
        </div>
    </div>
    
</section>

<section id="certifications">
    <h3>Certifications</h3>
    <div class="certification-list">
        <h4>Microsoft Certified: Azure Fundamentals</h4>
        <button><a href="https://www.credly.com/badges/25f4a764-6e58-4e5c-a20c-f1ca8050893e?source=linked_in_profile" target="_blank">Know More</a></button>
    </div>
</section>

{% endblock %}