{% extends 'base.html' %}


{% block css_link %}

<link rel="stylesheet" href="static\about.css">

{% endblock %}



{% block title %}

<title>About Me</title>

{% endblock %}



{% block content %}

<section id="myphoto">
    <img src="static\shivam1.jpg" alt="myphoto">
</section>

<section id="Introduction">
    <h3>A little bit about me</h3>
    <p>Hi there! My name is Shivam Shinde. I am an aspiring data scientist and data analyst. I am a mechanical
        enginerring graduate from Sardar Patel College of Engineering, Mumbai. During my engineering days, I was very
        much interested in 3D model designing. Along with this, I also tried to explore many things such as logo design,
        learning foreign languages, website building, etc but nothing caught my eye. Around the end of my engineering, I
        got to know about data
        science field. I was immediately interested in it because it was kind of related to my childhood hobby. Since
        early age, i was very
        fond of the mathematics. Needless to say but I was quite good at it. I had a habit of trying to plot
        each
        and every equation I see. Actually you could even say that it was my hobby. Thus, following my interest I
        started digging deeper into the topic. This lead me to learning many things such as tableau, python, flask,
        machine learning, git, etc.</p>
    <p>Besides the technical things, I like to play chess, badminton with my friends
        and cousins. Also, roaming the city on my bicycle with my friends is one of the things I frequently enjoy. I
        also play racing games a lot on my personal computer. Sometimes I read the historical novels too. I have not
        travelled a lot yet but going forward, travelling is definitely going to be in my bucket list.</p>

</section>

<section id="skills">
    <h3>Skills</h3>
    <div class="skill-list">
        <h4>SQL</h4>
        <div class="progress">
            <div class="progress-fill" id="SQL"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Python Programming Language</h4>
        <div class="progress">
            <div class="progress-fill" id="python-lang"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Web Scrapping using Python</h4>
        <div class="progress">
            <div class="progress-fill" id="web-scrapping"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Data Analysis using NumPy and Pandas</h4>
        <div class="progress">
            <div class="progress-fill" id="data-analysis"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Data Visualization using Matplotlib and Seaborn</h4>
        <div class="progress">
            <div class="progress-fill" id="data-viz"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Flask Python Framework</h4>
        <div class="progress">
            <div class="progress-fill" id="flask"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Git</h4>
        <div class="progress">
            <div class="progress-fill" id="git"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Tableau</h4>
        <div class="progress">
            <div class="progress-fill" id="Tableau"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>HTML</h4>
        <div class="progress">
            <div class="progress-fill" id="html"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Cascading Style Sheets (CSS)</h4>
        <div class="progress">
            <div class="progress-fill" id="css"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>statistics</h4>
        <div class="progress">
            <div class="progress-fill" id="stats"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Machine Learning</h4>
        <div class="progress">
            <div class="progress-fill" id="ml"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Data Version Control (DVC)</h4>
        <div class="progress">
            <div class="progress-fill" id="dvc"></div>
        </div>
    </div>
    <div class="skill-list">
        <h4>Time Series Analysis</h4>
        <div class="progress">
            <div class="progress-fill" id="time-series"></div>
        </div>
    </div>

</section>

<section id="certifications">
    <h3>Certifications</h3>
    <div class="certification-list">
        <h4>Microsoft Certified: Azure Fundamentals</h4>
        <button><a href="https://www.credly.com/badges/25f4a764-6e58-4e5c-a20c-f1ca8050893e?source=linked_in_profile"
                target="_blank">Know More</a></button>
    </div>
</section>

{% endblock %}