
{% extends 'base.html' %}



{% block css_link %}

<link rel="stylesheet" href="static\projects.css">

{% endblock %}



{% block title %}

<title>Projects</title>

{% endblock %}



{% block content %}

<section class="pythonProjects">
    <h2 class="project_category" id="pythonProjectsHeader">Python projects</h2>
    <div class="python-project-container">
        <h3>Book Shop Website Scrapper</h3>
        <p>The aim of the project is to scrap the bookstore webisite for the book names and their price given the
            genre
            by user. The results are shown in the tabular format in the browser.</p>

        <div class="python-project-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/Book-scrapper" target="_blank">Source
                    Code</a></button>
        </div>
    </div>
    <div class="python-project-container">
        <h3>Exploratory Data Analysis Using Sweetviz python library</h3>
        <p>Exploratory data analysis of the data in the csv format will be shown over the browser window given the
            path to the local file in the browser window. The flask python framework is used to get the input and
            show back the output to the user over the browser</p>
        <div class="python-project-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/AutomatingEDA" target="_blank">Source
                    Code</a></button>
        </div>
    </div>
</section>
<section class="MachineLearningProjects">
    <h2 class="project_category" id="MLProjectHeader">Machine Learning projects</h2>
    <div class="ML-project-container">
        <h3>Flight Fare Prediction</h3>
        <p>This project aims to predict the fare for the plane flight given some information about the concerned
            flight.</p>
        <div class="ML-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/flight-fare-prediction" target="_blank">Source
                    Code</a></button>
        </div>
    </div>
    <div class="ML-project-container">
        <h3>Mushroom Category Prediction</h3>
        <p>This project aims to predict the category of the mushroom given some of its properties,</p>
        <div class="ML-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/mushroom_classification" target="_blank">Source
                    Code</a></button>
        </div>
    </div>
    <div class="ML-project-container">
        <h3>Credit Card Fraud Detection</h3>
        <p>The aim of this project is to predict whether the performed credit card transaction is fraud or not given
            the info about the transaction such as IP address, money spent or location, etc.</p>
        <div class="ML-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/credit-card-fraud-detection2" target="_blank">Source
                    Code</a></button>
        </div>
    </div>
    <div class="ML-project-container">
        <h3>Wine Quality Prediction</h3>
        <p>This is a regression machine learning problem statement. In this project, wine quality is predicted using
            some of its inherent properties such as its pH, etc.</p>
        <div class="ML-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/wine_quality_prediction_mlops"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="ML-project-container">
        <h3>Thyroid Disease Detection</h3>
        <p>The aim of this project is to prediction whether the concerned patient has thyroid or not based on his
            personal information and history.</p>
        <div class="ML-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/Thyroid_disease_detection" target="_blank">Source
                    Code</a></button>
        </div>
    </div>
</section>
<section class="TableauProjects">
    <h2 class="project_category" id="TableauProjectsHeader">Tableau projects</h2>
    <div class="Tableau-project-container">
        <h3>Insurance Analytics</h3>
        <p>This tableau project focuses on the showing different analytics for the insurance dataset.</p>

        <div class="Tableau-know_more_btn">
            <button><a href="https://public.tableau.com/app/profile/shivam.shinde/viz/Insurancedatasetviz/Final"
                    target="_blank">Know More</a></button>
        </div>
    </div>
    <div class="Tableau-project-container">
        <h3>Video Games Analytics</h3>
        <p>The aim of the project is to visualize the different aspects of the data on the video games.</p>
        <div class="Tableau-know_more_btn">
            <button><a href="https://public.tableau.com/app/profile/shivam.shinde/viz/VideoGamesAnalytics/Story1"
                    target="_blank">Know More</a></button>
        </div>
    </div>
    <div class="Tableau-project-container">
        <h3>Citi Bike Analytics</h3>
        <p>The aim of the project is to visualize the different aspects of the citi bike dataset.</p>
        <div class="Tableau-know_more_btn">
            <button><a
                    href="https://public.tableau.com/app/profile/shivam.shinde/viz/CitiBikeAnalytics_16435254845460/Citibikedatastory"
                    target="_blank">Know More</a></button>
        </div>
    </div>
    <div class="Tableau-project-container">
        <h3>Indian Crop Production Analytics</h3>
        <p>The aim of the project is to visualize the different aspects Indian crop production.</p>
        <div class="Tableau-know_more_btn">
            <button><a
                    href="https://public.tableau.com/app/profile/shivam.shinde/viz/CropproductioninIndiaanalysis/Story1"
                    target="_blank">Know More</a></button>
        </div>
    </div>
    <div class="Tableau-project-container">
        <h3>Anime Dataset Analytics</h3>
        <p>The aim of the project is to visualize the different aspects of anime dataset.</p>
        <div class="Tableau-know_more_btn">
            <button><a
                    href="https://public.tableau.com/app/profile/shivam.shinde/viz/AnimeViz_16429456982940/AnimeViz"
                    target="_blank">Know More</a></button>
        </div>
    </div>
    <div class="Tableau-project-container">
        <h3>Automobile Dataset Analytics</h3>
        <p>The aim of the project is to visualize the different aspects of automobile dataset.</p>
        <div class="Tableau-know_more_btn">
            <button><a
                    href="https://public.tableau.com/app/profile/shivam.shinde/viz/Automobiledatasetviz/Factorsaffectingthepriceofautomobile"
                    target="_blank">Know More</a></button>
        </div>
    </div>
    <div class="Tableau-project-container">
        <h3>Rain in Australia Dataset Analytic</h3>
        <p>The aim of the project is to visualize the different aspects of rain in australia dataset.</p>
        <div class="Tableau-know_more_btn">
            <button><a href="https://public.tableau.com/app/profile/shivam.shinde/viz/RaininAustraliaviz/Story1"
                    target="_blank">Know More</a></button>
        </div>
    </div>

</section>
<section class="someUsefulCodeSnippets">
    <h2 class="project_category" id="otherSnippetsHeader">Some Useful Code Snippets</h2>
    <div class="other-snippets-project-container">
        <h3>Scikit-Learn Pipeline Example</h3>
        <p>This is a demonstration of how the scikit-learn pipelines are used using the titanic survival dataset</p>
        <div class="other-snippets-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/titanic-survival-prediction-model"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="other-snippets-project-container">
        <h3>Using custom thresholds for classification in scikit-learn</h3>
        <p>This is the example which shows how we can use the custom thresholds to perform the classification using
            scikit-learn.</p>
        <div class="other-snippets-know_more_btn">
            <button><a
                    href="https://github.com/shivamshinde123/heart-disease-prediction-model-using-sklearn-pipelines-and-custom-threshold"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="other-snippets-project-container">
        <h3>Finding feature importance using random forest classifier</h3>
        <p>This is the example which shows how we can make use of a random forest classifier to get the importance
            of the features</p>
        <div class="other-snippets-know_more_btn">
            <button><a
                    href="https://github.com/shivamshinde123/finding-feature-importance-using-random-forest-algorithm"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="other-snippets-project-container">
        <h3>Avoiding overfitting using the early stopping method</h3>
        <p>This is the example which shows how we can use early stopping to our advantage in avoiding the
            overfitting to the data.</p>
        <div class="other-snippets-know_more_btn">
            <button><a
                    href="https://github.com/shivamshinde123/Taking-care-of-overfitting-using-early-stopping-in-iterative-machine-learning-algorithms"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="other-snippets-project-container">
        <h3>Using learning curve to check the overfitting or underfitting conditions</h3>
        <p>This example shows the use of learning curve to check whether our machine learning model has been
            overfitted or underfitted to the data.</p>
        <div class="other-snippets-know_more_btn">
            <button><a
                    href="https://github.com/shivamshinde123/Using-learning-curve-to-check-whether-the-model-is-underfitting-or-overfitting"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="other-snippets-project-container">
        <h3>Using clustering as a dimensinality reduction method</h3>
        <p>This example shows how one can make use of clustering techniques to deal with the curse of dimensinality.
        </p>
        <div class="other-snippets-know_more_btn">
            <button><a
                    href="https://github.com/shivamshinde123/Using-clustering-as-a-dimensionality-reduction-method"
                    target="_blank">Source Code</a></button>
        </div>
    </div>
    <div class="other-snippets-project-container">
        <h3>Finding the optimal number of clusters for our clustering model</h3>
        <p>This notebook shows the different methods by which one can find the optimal number of clusters for our
            clustering problem.</p>
        <div class="other-snippets-know_more_btn">
            <button><a href="https://github.com/shivamshinde123/Finding-the-optimal-number-of-clusters"
                    target="_blank">Source Code</a></button>
        </div>
    </div>

</section>

{% endblock %}